altair[all]==5.3.0
polars==0.20.30
tensorflow==2.16.1
transformers==4.41.1
vegafusion==1.6.9
git+https://github.com/Revo1999/vrashelper
torch==2.3.0
transformers==4.41.1
tf-keras==2.16.0
tqdm==4.66.4
